/**************************************/
/* index.css. Frank Poth. 09/9/2015. */
/************************************/

body{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}

html{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}
